@{ ViewData["Title"] = "Home"; }

<br />
<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">The Grassman's Store</h1>
    <p style="font-size: 24px">You should buy!</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <form class="col-4" method="get" asp-controller="Developers" asp-action="Index">
        <p align="center">
            <input type="submit" class="btn btn-primary btn-lg" style="width: 100%" value="Developers" />
        </p>
    </form>

    <form class="col-4" method="get" asp-controller="Games" asp-action="Index" asp-route-id="0">
        <p align="center">
            <input type="submit" class="btn btn-primary btn-lg" style="width: 100%" value="Games" />
        </p>
    </form>

    <form class="col-4" method="get" asp-controller="Customers" asp-action="Index">
        <p align="center">
            <input type="submit" class="btn btn-primary btn-lg" style="width: 100%" value="Customers" />
        </p>
    </form>
    <br />
    <br />
    <br />
    <br />


    <form class="col-4" method="get" asp-controller="Orders" asp-action="Index" asp-route-id="0">
        <p align="center">
            <input type="submit" class="btn btn-primary btn-lg" style="width: 100%" value="Orders" />
        </p>
    </form>

    <form class="col-4" method="get" asp-controller="Countries" asp-action="Index">
        <p align="center">
            <input type="submit" class="btn btn-primary btn-lg" style="width: 100%" value="Countries" />
        </p>
    </form>
    <br />
    <br />
    <br />
    <br />

</div>

<div id="map" style="display: inline-block;"></div>

<input type="text" id="lang" />

<script defer src="~/js/site.js" asp-append-version="true"></script>
